@font-face {
  src: url("../assets/DepartureMonoNerdFont-Regular.otf");
  font-family: Departure Mono;
}

:root {
  background-color: #1e1e1e;
  color: whitesmoke;
  font-family: Departure Mono, monospace;
}

* {
  margin: 0;
}

body {
  margin: 12px 0 0 12px;
}

@media (width >= 48rem) {
  body {
    margin: 4rem 0px 0px 4rem;
  }
}

#soon {
  text-align: center;
  margin-top: 12rem;
  display: inline-block;
  animation: spin 30s linear infinite;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.web {
  background-image: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
  background-size: 400% 400%;
  animation: move 15s linear infinite;
  background-clip: text;
  color: transparent;
}

@keyframes move {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
