:root {
  text-align: center;
  overflow: hidden;
}

.para {
  width: calc(200% / 3); /* 2/3 */
  margin-left: auto;
  margin-right: auto;
}


.para {
  animation: fade-in 3000ms ease-in-out;
}

.hook {
  animation: slide 1000ms ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.subtitle {
  color: darkgray;
}

h2 {
  margin-top: 4em;
}

.spin {
  animation: spin infinite linear 2s, fade-in 3s ease-in-out;
  margin-top: 4em;
}

.spin:hover {
  animation-play-state: paused;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}


