* {
  background-color: black;
  color: white;
  font-family: DepartureMono-Regular;
}

@font-face {
  font-family: DepartureMono-Regular;
  src: url(/assets/DepartureMono-Regular.otf);
}

a {
  color: #0077ff;
}

.a-blocks a {
  display: block;
}

/* screw the mobile users */

.desktopshow {
  scale: 0;
}



.desktophide {
  scale: 1;
}


/* Awesome styling stolen from Tailwind */
@media (min-width: 640px) {
  .dynamicsize {
    width: 100%;
  }
  .dynamicheight {
    height: auto;
    background-color: orange;
  }
}
@media (min-width: 768px) {
  .dynamicmdsize {
    width: 50%;
  }

  .dynamicmdheight {
    height: 455px;
    background-color: purple;
  }

  .desktopshow {
    scale: 1;
  }

  .desktophide {
    scale: 0;
  }
}

li {
  text-align: left;
}

/* Pixelate filter from this codepen: https://codepen.io/tigt/pen/aZYqrg */
.pixelate {
  filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='b' x='0' y='0'%3E%3CfeFlood x='2' y='2' height='1' width='1'/%3E%3CfeComposite width='3' height='3'/%3E%3CfeTile result='a'/%3E%3CfeComposite in='SourceGraphic' in2='a' operator='in'/%3E%3CfeMorphology operator='dilate' radius='1.5'/%3E%3C/filter%3E%3C/svg%3E#b");
}

.blink {
  display: inline-block;
  background-color: white;
  width: 14px;
  height: 30px;
  animation: blink 1s step-end infinite;
  translate: -10px 4px;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* fix toots */
.toots {
  margin-right: auto;
  margin-left: auto;
}
