* {
  background-color: black;
  color: white;
  font-family: DepartureMono-Regular;
}

@font-face {
  font-family: DepartureMono-Regular;
  src: url(/assets/DepartureMono-Regular.otf);
}

a {
  color: #0077ff;
}

.a-blocks a {
  display: block;
}
