@font-face {
  font-family: Departure Mono;
  src: url("DepartureMonoNerdFont-Regular.otf") format("opentype");
}

/* Fix weird bug that I can't figure out the cause of */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Departure Mono, monospace;
  color: white;
  background-color: #1e1e1e;
  text-align: center;
}

.button {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 2px solid #00aaff;
  display: inline-block;
}

.button:hover {
  background-color: #111111;
}

#title {
  text-shadow: 0px 0px 5px #777777;
  font-size: 2rem;
}


/* A tag */
a:visited {
  color: #00aaff;
}

a {
  text-decoration: none;
  color: #00aaff;
}

a:hover {
  text-decoration: underline;
}

#portfolio {
  margin-top: 1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #777777;
  box-sizing: border-box;
}

@media (width >= 48rem) {
  #portfolio {
    width: 33%;
  }
  #contact a {
    display: inline !important;
  }
}

#portfolio .item:hover {
  background-color: #111111;
  border-color: #0066bb;
}

#portfolio .item {
  border: 2px solid #00aaff;
  padding: 0.5rem;
  width: 100%;
  display: block;
  border-top: none;
  text-align: center;
}

.item-top {
  border-top: 2px solid #00aaff !important;
}


#contact a {
  color: #777777;
  display: block;
}


#contact {
  width: 100%;
  margin-top: 1rem;
}

#search input {
  padding: 1rem;
  background-color: #111;
  border: none;
  color: white;
  font-family: Departure Mono;
  width: 80%;
}

#search input:focus {
  outline: none;
}

.button {
  font-family: Departure Mono;
  background-color: #1e1e1e;
  color: white;
  width: 80%;
  height: 3rem;
  cursor: pointer;
}

#search {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.button:hover {
  background-color: #111;
}

#buttons {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#buttons .button {
  width: 80%;
}

#warning {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #66590a;
  border-color: #8c7c13;
  border-width: 2px;
  border-style: solid;
}

.para_dark li {
  list-style: none;
  color: palegreen;
}

h2 {
  margin-top: 2rem;
}

.para {
  width: 90%;
  margin: 0 auto 0 auto;
}


.para_dark {
  width: 85%;
  margin: 0 auto 0 auto;
}

.para_dark li:nth-child(odd) {
  background-color: #222;
}

.para_dark li:nth-child(even) {
  background-color: #111;
}

.unfinished li {
  color: palevioletred
}

/* AAAAAA */
@media (width >= 72rem) {
  #search {
    width: 33%;
  }
  #buttons {
    width: 33% !important;
  }
  #title {
    font-size: 2.5rem;
  }
  #search button {
    width: 15%
  }
  #buttons .button {
    width: 47.5%;
  }

  .para {
    width: 66.6666%
  }

  .para_dark {
    width: 50%
  }

  #warning {
    width: 50%
  }

  .dynamicsize {
    width: 66.6666%
  }
}


.gist-data, .gist-meta {
  background-color: #111 !important;
  color: white;
}

.old-post {
  border-color: gray !important;
  color: #333 !important;
}

.old-post a {
  color: gray !important;
}

.main {
  text-align: left;
  width: 90%;
  margin: 0 auto 0 auto;
}

blockquote {
  border: 2px solid #3b434b;
  background-color: #222222;
  padding: 0 15px;
  margin-top: 15px;
}


.web {
  background-image: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
  background-size: 400% 400%;
  animation: move 15s linear infinite;
  background-clip: text;
  color: transparent;
}

@keyframes move {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.giscus {
  margin-top: 1em;
}
